.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
suyashsingh101_accessKeys.csv
suyashsingh101_codecommit_credentials.csv
django-aws.ppk
media/